body{
    background-color: 
}

.border{
    width: 300px;
    height: 100px;
    border: 1px solid #000D41;
}

.deads{
    width: 300px;
    height: 100px;
    border: 1px solid red;
}

.titulo h1{
    font-size: 100px;
    /* display: flex; */
    text-align: center;
    font-family: 'Staatliches', cursive;padding: 60px;
    text-align: center;
    background: grey;
    color: white;           
}